@import "../../style/variables.css";

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    /* margin: auto; */
    /* flex-direction: row; */
    column-gap: 20px;
    /* font-size: var(--h2-bis-size);
    font-weight: var(--h2-bis-weight); */
    /* flex-direction: column; */
}

h1{
    font-size: var(--h2-bis-size);
    font-weight: var(--h2-bis-weight);
    color: var(--blue-500)
}